<main class="col-sm-6 col-sm-offset-3 product_form">
  <h1 class="row">Create a new product</h1>
  <div class="row">
    <form class="form-horizontal col-sm-8 col-sm-offset-2" (submit)="create()" #formData="ngForm">
      <div class="form-group">
        <label for="name" class="col-sm-4 control-label">Product name: </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="name" required [(ngModel)]="product.name">
        </div>
      </div>
      <div class="form-group">
        <label for="price" class="col-sm-4 control-label">Price: </label>
        <div class="col-sm-8">
          <input type="number" class="form-control" name="price" required [(ngModel)]="product.price">
        </div>
      </div>
      <div class="form-group">
        <label for="url" class="col-sm-4 control-label">Image URL: </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="url" [(ngModel)]="product.url">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-primary" [disabled]="!formData.valid">Create</button>
        </div>
      </div>
    </form>
  </div>
</main>
