<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Wall</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>


        <div class="header col-s-12 col-m-12 col-l-12">
            <h1>Welcome to the Coding Dojo Wall</h1>
            <div class="user_info">
                <h3>Welcome, {{ session['first_name']}} {{ session['last_name']}}</h3>
                <a href="/logout">Log Out</a><br><br>
                </div>
            <hr>
        </div>


        <div class="flash col-s-12 col-m-6 col-l-6">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="message">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>


        <div class="post_message">
        <form action='/post' method='post'>
            <h3>Post a message</h3>
            <textarea rows="5" cols="50" name="wall_post"></textarea><br>
            <input class="button" type="submit" value="Post">
        </form>
        </div>


        <div class="wall_content">
            {% if messages %}
                {% for message in messages %}
                    <div class="message_content">
                        <span class="message_header">{{ message['name'] }} wrote on {{ message['date'] }}:</span><br>
                        {{ message['message'] }}<br>
                    </div>
                    {% for comment in comments %}
                    <div class="comment_content">
                        {% if comment['message_id'] == message['id'] %}
                            <span class="comment_header">{{ comment['name'] }} commented on {{ comment['date'] }}:</span><br>
                            {{ comment['comment'] }}<br>

                        {% endif %}
                    {% endfor %}

                    <form action='/post_comment' method='post'>
                        <textarea rows="3" name="comment"></textarea>
                        <input type="hidden" name="m_id" value="{{ message['id'] }}">
                        <input class="button" type="submit" value="Post Comment">
                    </form>
                    </div>
                {% endfor %}
            {% endif %}
        </div>


    </body>
</html>
