<header class="row">
  <section class="row">
    <h1>Dojo Weather Forecast</h1>
  </section>
  <section class="row nav">
    <a [routerLink]="['/']">Home</a><br><br>
    <a [routerLink]="['/burbank']">Burbank</a>   |
    <a [routerLink]="['/chicago']">Chicago</a>   |
    <a [routerLink]="['/dallas']">Dallas</a>   |
    <a [routerLink]="['/sanjose']">San Jose</a>   |
    <a [routerLink]="['/seattle']">Seattle</a>   |
    <a [routerLink]="['/dc']">Washington, DC</a>
  </section>
</header>

<router-outlet></router-outlet>
