<main class="col-sm-8 col-sm-offset-2">
  <h1 class="row">Washington, DC</h1>
  <div class="row weather">
    <div class="col-sm-7">
      <p>Humidity: {{ humidity }}%</p>
      <p>Temperature (Average): {{ temp }}&deg; F</p>
      <p>Temperature (High): {{ high_temp }}&deg; F</p>
      <p>Temperature (Low): {{ low_temp }}&deg; F</p>
      <p>Status: {{ status }}</p>
      <p>Wind: {{ wind_speed }}mph, {{ wind_direction }}&deg;</p>
    </div>
    <div class="col-sm-5">
      <img class="img-responsive" src="../../assets/dc.jpg">
    </div>
  </div>
</main>
