body{
    background-color: black;
    margin: 0px;
}
div#world{
    position: relative;
}
div.row div{
    width: 20px;
    height: 20px;
    display: inline-block;
}
div.row{
    height: 20px;
}
div.brick{
    background-color: blue;
}
div.coin{
    background: url('coin.gif');
    background-repeat: no-repeat;
    background-position: center;
}
div.cherry{
    background: url('cherry.gif');
    height: 5px;
    width: 5px;
    background-repeat: no-repeat;
    background-position: center;
}
div#pacman{
    background: url('pacman.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20px;
    width: 20px;
    position: absolute;
    transform: rotate(180deg);
}
div#score{
    border: 1px solid white;
    width: 30px;
    height: 30px;
    color: white;
    padding: 5px;
    text-align: center;
    margin: 20px 0px 0px 150px;
}
