<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static "/leagues/css/normalize.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "/leagues/css/style.css" %}">
	</head>
	<body>
		<h3>1. ...all teams in the Atlantic Soccer Conference</h3>
		<ol>
			{% for team in atlantic_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>

		<h3>2. ...all (current) players on the Boston Penguins</h3>
		<ol>
			{% for player in current_penguins %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

		<h3>3. ...all (current) players in the International Collegiate Baseball Conference</h3>
		<ol>
			{% for player in current_icbc %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

		<h3>4. ...all (current) players in the American Conference of Amateur Football with last name "Lopez"</h3>
		<ol>
			{% for player in current_acaf_lopez %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

		<h3>5. ...all football players</h3>
		<ol>
			{% for player in football_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

		<h3>6. ...all teams with a (current) player named "Sophia"</h3>
		<ol>
			{% for team in sophia_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>

		<h3>7. ...all leagues with a (current) player named "Sophia"</h3>
		<ol>
			{% for league in sophia_leagues %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>

		<h3>8. ...everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</h3>
		<ol>
			{% for player in rough_exc_flores %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

		<h3>9. ...all teams, past and present, that Samuel Evans has played with</h3>
		<ol>
			{% for team in samuel_evans_all %}
			<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>

		<h3>10. ...all players, past and present, with the Manitoba Tiger-Cats</h3>
		<ol>
			{% for player in manitoba_all %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

		<h3>11. ...all players who were formerly (but aren't currently) with the Wichita Vikings</h3>
		<ol>
			{% for player in vikings_former %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

		<h3>12. ...every team that Jacob Gray played for before he joined the Oregon Colts</h3>
		<ol>
			{% for team in jacob_gray_former %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>

		<h3>13. ...everyone named "Joshua" who has ever played in the Atlantic Federation of Amateur Baseball Players</h3>
		<ol>
			{% for player in afabp_joshua %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

		<h3>14. ...all teams that have had 12 or more players, past and present</h3>
		<ol>
			{% for team in 12_or_more %}
				<li>{{team.location}} {{team.team_name}}: {{team.num_players}}</li>
			{% endfor %}
		</ol>

		<h3>15. ...all players, sorted by the number of teams they've played for</h3>
		<ol>
			{% for player in number_teams %}
				<li>{{player.first_name}} {{player.last_name}}: {{player.num_teams}}</li>
			{% endfor %}
		</ol>

	</body>
</html>
