
<html>
    <head>
        <title>Registration Form</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="col-s-12 col-m-12 col-l-12">
            <h1>Please Register</h1>
            <form action='/result' method='post'>
                First name: <input type='text' name='first_name'><br>
                Last name: <input type='text' name='last_name'><br>
                Birthdate: <input type='date' name='dob'><br>
                Email: <input type='email' name='email'><br>
                Password: <input type='password' name='pwd'><br>
                Confirm password: <input type='password' name='pwd_confirm'><br>
                <input class="submit" type='submit' value='Register'>
            </form>
        </div>
    </body>
</html>
