<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Portfolio</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "/real_portfolio/css/normalize.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "/real_portfolio/css/style.css" %}">
    </head>
    <body>

    <h1>Hello, my name is Evan</h1>
    <h3>Welcome to my Portfolio</h3>

    <div class="section col-s-12 col-m-4 col-l-2">
        <a href="/projects">Projects</a>
        <p>Check out a sample of some of my work.</p>
    </div>

    <div class="section col-s-12 col-m-4 col-l-2">
        <a href="/about">About Me</a>
        <p>Learn a little about me: the person, the student, the developer.</p>
    </div>

    <div class="section col-s-12 col-m-4 col-l-2">
        <a href="/testimonials">Testimonials</a>
        <p>Hear feedback from peers about me and my work.</p>
    </div>

    </body>
</html>
