<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "/real_portfolio/css/normalize.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "/real_portfolio/css/style.css" %}">
    </head>
    <body>
        <h1>Projects</h1>
        <h3>Here are a few projects I have worked on:</h3>
        <ul>
            <li>Disappearing Ninja</li>
            <li>Color Clicker</li>
            <li>Contact Card</li>
            <li>Pokemon (API practice)</li>
            <li>Game of Thrones (more API practice)</li>
            <li>Pacman (jQuery practice)</li>
            <li>1942 (more jQuery practice)</li>
            <li>Dojo Survey</li>
            <li>Great Number Game</li>
            <li>Ninja Gold</li>
            <li>The Wall</li>
        </ul>
    </body>
</html>
