<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Counter</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Counter</h1>
        <p>{{ session['counter'] }}</p>
        <form class="" action="index.html" method="post">
            <input type="submit" formaction="/ninja" name="submit" value="Ninja!">
            <input type="submit" formaction="/hacker" name="reset" value="Hacker!">
        </form>
    </body>
</html>
