html {
    margin-top: 5%;
    text-align: center;
}

.form {
    border: 1px solid black;
    padding: 1% 1% 5% 1%;
    margin: 5% 0% 10% 0%;
}

.epic {
	border: 1px solid black;
	background-color: #085394;
	border-radius: 25px;
	padding: 35px;
	color: #FAFAFA;
	font-size: 2em;
}

.reset {
	border: 1px solid black;
	background-color: #CF2A27;
    border-radius: 25px;
	padding: 2.5% 4%;;
	color: #FAFAFA;
}
