<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Appointments</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

        <!-- Custom stylesheet -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "/appointment_app/css/style.css" %}">

    </head>
    <body>
    <div class="row">
        <div class="col-sm-6">
            <h1>Your appointment has been scheduled!</h1>
            {% for appt in appts %}
            <h3>You are scheduled for {{ appt.time }} on {{ appt.date }}. </h3>
            {% endfor %}
            <form class="form-horizontal col-lg-offset-3 col-lg-6 col-md-6 col-sm-6" action="/" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <button class="btn btn-default" name="submit" type="submit">Make Another Appointment</button>
                </div>
            </form>
        </div>
    </div>


    </body>
</html>
